@charset "utf-8";
/* CSS Document */

body {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	background:#000000;	
}
#background {
	background-image: url("http://mtwebmedia.com/katescott/img/kate@1200.png");
	background-repeat: no-repeat;
	background-position:center top;
}
.main {
	margin-top:400px;
	padding: 1em 2em;
	background: rgba(0,0,0,.7);
}
.center {
	display:block;
	position:relative;
	text-align:center;
	margin:0 auto;
	width:100%;	
}
.social {
	font-size:.8em;	
}
.menu {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	display: -webkit-flex; /* Safari */
  	display: flex;
	-webkit-flex-flow: row wrap; /* Safari */
  	flex-flow: row wrap;
	-webkit-justify-content: center; /* Safari */
  	justify-content: center;
	-webkit-align-items: center; /* Safari */
    align-items: center;
	position:relative;
	width:100%;
	height:auto;
	text-align:center;
	margin:20px auto;	
}
.link {
	font-family: Verdana, Arial, Helvetica, sans-serif;
    -webkit-flex: 1 0 auto; /* Safari */
	flex: 1 0 auto;
  	-webkit-align-content: space-between; /* Safari */
  	align-content: space-between;
}
.typesettings a.social-btn {
	text-decoration:none;
	color:#0080FF;	
}
.typesettings a.social-btn:hover {
	color:#0066cc;	
}

/* Typesettings Overrides */
.typesettings {
	font-family: Verdana, Arial, Helvetica, sans-serif;	
}
.typesettings p {
	margin:0;
	color:#fff;
}
.typesettings .link a {
	font-family: Verdana, Arial, Helvetica, sans-serif;
    color: #888;
	font-size: .6em;
	text-align:center;
	margin:auto;	
	font-weight:400;
	letter-spacing:.05em;
	text-transform:uppercase;
}
.typesettings .link a:hover, .typesettings .link a:visited {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    color: #888;
}
.typesettings h1:first-child+h2 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	text-transform:none;	
	letter-spacing:.04em
}
.typesettings h1 {
	font-size:1.4em;
	color:#fff;
}
.typesettings h3 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	text-align:center;
	margin-top:50px;	
}
.typesettings .social-btn:link {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	border-bottom:none;	
}
.typsettings.dark {
	background-color: rgba(0,0,0,.7);	
}
.typesettings.dark a:visited {
    color: #888;
    border-color: #888;
}
.typesettings.dark a:hover {
	color:#fff;
	border-color: #fff;
}