@charset "utf-8";
/* CSS Document */

body {
	background:#000000;	
	font-size:10px;
}
#background {
	background-image: url("http://mtwebmedia.com/katescott/img/KateHeadshot.png");
	background-repeat: no-repeat;
	background-position:center top;
}
.main {
	margin-top:460px;
	padding: 1em 2em;
	background: rgba(0,0,0,.7);
}
.center {
	display:block;
	position:relative;
	text-align:center;
	margin:0 auto;
	width:100%;	
}
.social {
	font-size:.6em;
	padding-bottom:0;	
}
.menu {
	display: -webkit-flex; /* Safari */
  	display: flex;
	-webkit-flex-flow: row wrap; /* Safari */
  	flex-flow: row wrap;
	-webkit-justify-content: center; /* Safari */
  	justify-content: center;
	-webkit-align-items: center; /* Safari */
    align-items: center;
	position:relative;
	width:100%;
	height:auto;
	text-align:center;
	margin:20px auto 0 auto;	
}
.link {
    -webkit-flex: 1 0 auto; /* Safari */
	flex: 1 0 auto;
  	-webkit-align-content: space-between; /* Safari */
  	align-content: space-between;
}
.typesettings a.social-btn,
.typesettings a.social-btn:visited {
	text-decoration:none;
	color:#0080FF;	
}
.typesettings a.social-btn:hover {
	color:#0066cc;	
}

/* Typesettings Overrides */
.typesettings {
	font-family: 'Didact Gothic', sans-serif;
	font-size:10px;	
}
.typesettings p {
	margin:0;
	color:#fff;
	font-size:2em;
}
.typesettings .link a {
	font-family: 'Didact Gothic', sans-serif;
    color: #888;
	font-size: 1.8em;
	text-align:center;
	margin:auto;	
	font-weight:400;
	letter-spacing:.05em;
	text-transform:uppercase;
}
.typesettings .link a:hover, .typesettings .link a:visited {
    font-family: 'Didact Gothic', sans-serif;
    color: #fff;
}
.typesettings h1 {
	font-family: 'Didact Gothic', sans-serif;
	font-size:2.5em;
	letter-spacing:.05em;
	color:#fff;
	padding-bottom:10px;
}
.typesettings .social-btn:link {
	font-family: 'Didact Gothic', sans-serif;
	font-size:1em;
	border-bottom:none;	
}
.typesettings a:visited {
    color: #888;
    border-color: #888;
}
.typesettings a:hover {
	color:#fff;
	border-color: #fff;
}
@media screen and (max-width:550px) {
	.menu {
		-webkit-flex-flow: column; /* Safari */
  		flex-flow: column;
	}
	.link {
		padding: 10px 0;
    	border-bottom: 1px dotted #fff;
    	width: 100%;
	}
	.link:last-of-type {
		border-bottom:0;	
	}
	.typesettings a:link {
		border-bottom:none;	
	}
}
@media screen and (max-width:500px) {
	.typesettings h1 {
		font-size:2em;
	}	
	
}